/* customs */
/* right output column twice as left slider column */
#txt2img_results, #img2img_results  {
    flex: 2 !important; 
    padding: 0!important;
}

/* MOVED TO SETTINGS as dynamic parameter
output gallery shall use 50% of your total screen/browser size 
#txt2img_gallery_container, #img2img_gallery_container {
    height: 80vh !important;       
}
*/

/* selected image shall use full height of the gallery window (which uses 50vh) */
#txt2img_gallery, #img2img_gallery  {
    height: 100% !important;
}

/* somewhere the img height was limited to 55vh... */
#txt2img_gallery > div.fixed-height.preview, #img2img_gallery > div.fixed-height.preview {
    max-height: none !important;
}

#txt2img_gallery > div.grid-wrap.fixed-height, #img2img_gallery > div.grid-wrap.fixed-height {
    max-height: none !important;
}

#quicksettings > div, #quicksettings > fieldset {
    max-width: none !important;
    min-width: auto;
}

#quicksettings {
    flex: row;
    margin-bottom: 2em;
}


/* if not side-by-side-prompt */
#txt2img_prompt_container {
    flex-direction: column;
    height: fit-content;
}
#txt2img_prompt_container>div {
    flex: 1 0 0% !important;
}

#txt2img_actions_column {
    flex-grow:  0;
}

/* same height as tool icons */
#txt2img_generate, #img2img_generate, #txt2img_skip, #txt2img_interrupt {
    min-height: 2.4em !important;
    height: 2.4em !important;
    flex: 0 !important;
    align-content: center;
    bottom: 0px;
}

#txt2img_generate_box,#img2img_generate_box {
    align-content: flex-end;
    padding: 0 !important;
    flex-direction: row;
}